tokens/token.json
output/
credentials/credentials.json
credentials/license.txt
credentials/storename.txt
pixlogs.log
config.json
__pycache__/
credentials/credentials2meu.json
build/
dist/
Simpliest.spec
