tokens/token.json
output/
credentials/credentials.json
credentials/license.txt
credentials/storename.txt
pixlogs.log
config.json
__pycache__/
credentials/credentials2meu.json
dist/
build/
Simpliest.spec
auto-py-to-exe.json
